<div>
    <div>
        <div>
            <!-- Modal Header -->
            <div>
                <img src="../images/john-wick-chapter-2-poster.jpg" class="mx-auto" style="width:auto;height: 150px">

            </div>

            <!-- Modal body -->
            <div>
                <p class="movie-modal"><strong>Title : </strong>{{movie.title}}</p>
                <p class="movie-modal"><strong>Release Year : </strong> {{movie.year}}</p>
                <p class="movie-modal"><strong>Room : </strong>{{movie.room}}</p>
                <p class="movie-modal"><strong>Cast : </strong>{{movie.actors}}</p>
                <p class="movie-modal"> <strong>Date : </strong>{{movie.date}}</p>
                <p class="movie-modal" style="word-wrap: break-word;"><strong>Description : </strong>{{movie.description}} </p>
            </div>
        </div>
    </div>
</div>