
  <div class="modal fade" id="detailModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <img src="../images/john-wick-chapter-2-poster.jpg" class="mx-auto" style="width:50%;height: 150px">
            
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <p>Title : LALALALALA</p>
            <p>Year : LALALALA</p>
            <p>Duration: fgdfdfdfddd</p>
            <p>Actors: LLls, LSLSLS, LSLSLSLS</p>
            <p style="word-wrap: break-word;">Description : gfhehvdvngjnjfnvsisjvnwjjnwjbwjipevjfnvdfnnfdfnvvndfnsnsnvggggggggggggggggggggggggggggggggggggggggggggggg</p>
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
    
        </div>
      </div>
    </div>