.movie-title{
    font-size: 20px;
    font-family: 'Rancho',cursive;
    color: rgb(70, 16, 30);

}
.bg-gray {
    background-color: #dddada;
}
.date-select{
    font-family: 'Indie Flower',cursive;
    font-size: 22px;
    color: #52141a;
    font-weight: bold;
    float:left;
    margin:auto;
}