.movie-title{
    font-size: 17px;
    font-family: 'Rancho',cursive;
	color:white;


}
/*.bg-gray {
	background-image: url("../images/purrfect.jpg") ;
	background-size:cover;
	background-repeat: no-repeat;
	height:auto;

}*/
.height{
	min-height:270px;
}
.btn-about{
	border: 3px solid #e0661f !important;
	background-color:transparent;
	color: #e0661f;
	font-weight: bold;
	width:90px;
	margin-left:-30px;
}
.btn-book{
	border: 3px solid #c92f44 !important;
	background-color:transparent;
	color: #c92f44;
	font-weight:bold;
	margin-left:60px;
	width:90px;
}
.date-select{
    font-family: 'Patrick',cursive;
    font-size: 22px;
    color: white;
    font-weight: bold;
    float:left;
	margin:auto;
	margin-right:35px;
}
th{
text-align: center !important;
color:white;
font-size: 20px;
}
.table td{
	border-top: none !important;
}

.styling{
	
		background-image: url('../images/modal-bg.jpg') !important;
		background-size:cover;
		background-repeat: no-repeat;
   
}