.center{
    font-family: 'Pacifico', cursive;
    color: #bd3333;
    font-size: 34px;
    width:700px;
    text-align: center;
    margin: auto;
    
}
.transparent{
    background-color: transparent !important;
}
#navigare{
    height: auto;
    width:100%;
}
.nav-item.mystyle .nav-link{
    font-family:"Indie Flower",cursive;
    font-size:22px;
    font-weight: bold;
    color: #f77369 !important;
}
.nav-item.mystyle.active .nav-link{
    color: #d39582 !important;

}
.navbar-inner{
    background-color: transparent !important;
}
.navbar-admin{
    background-image: url('../images/purrfect.jpg');
    background-size: cover;
}
@media only screen and (max-width: 992px){
    #navigare{
        height:auto;

    }
    .center{
        display: none;
    }
}
