<style>
    .table-sortable tbody tr {
        cursor: move;
    }
    
    .latime {
        width: 80px;
        margin-left:20px;
    }
    
    .btn-add {
        background-color: transparent;
        border: 2px solid black;
        color: black;
        font-size: 16px;
        font-weight: bold;
    }
</style>
<div class="background">
    <div class="continut mx-auto  justify-content-center ">
        <button type="button" class="btn btn-add mt-3 mb-3" data-toggle="modal" data-target="#addmovie">Add New
            Movie</button>
    </div>
    <div class="continut flex-column">
        <div class="container mx-auto ">
            <div ng-controller="admin">
                <table class="table table-hover">
                    <thead >
                        <tr>
                            <th >Title</th>
                            <th >Room</th>
                            <th >Actors</th>
                            <th >Year</th>
                            <th >Description</th>
                            <th ></th>
                        </tr>
                    </thead>
                    <tbody role="rowgroup">
                        <tr role="row" ng-repeat="movie in model.movies" ng-include="getTemplate(movie)">
                        </tr>
                    </tbody>
                </table>

                <script type="text/ng-template" id="display">
                    <td class="details title-display">
                        <p class="paragraph my-auto titlu"><img class="movie-image" ng-src="../images/{{movie.src}}">{{movie.title}}</p>
                    </td>
                   
                    <td style="width:auto;" class="details">
                        <p class="paragraph my-auto">{{movie.room}}</p>
                    </td>
                    <td style="width:auto;" class="details">
                        <p class="paragraph my-auto">{{movie.actors}}</p>
                    </td>
                    <td style="width:auto;" class="details">
                        <p class="paragraph my-auto">{{movie.year}}</p>
                    </td>
                    <td style="height:auto;padding-left:10px;" class="details description-display">
                        <div style="width:auto;height:auto;word-wrap: break-word; text-align: justify;
                    text-justify: inter-word;" class="details">
                            <p class="paragraph desc">{{movie.description}}</p>
                        </div>

                    </td>
                    <td colspan="2" style="display:flex; padding-left:20px ">
                        <button class="btn btn-dark latime" ng-click="editMovie(movie)">Edit</button>
                          <button class="btn btn-danger latime" ng-click="deleteMovie($index)">Delete</button>
                    </td>
                    

                </script>
                <script type="text/ng-template" id="edit">
                    <td class="title-resp"><input type="text" style="width:90%;" ng-model="model.selected.title" /></td>
                    <td><input type="text" style="width:90%" ng-model="model.selected.room" /></td>
                    <td><input type="text" style="width:90%" ng-model="model.selected.actors" /></td>
                    <td><input type="text" style="width: 90%" ng-model="model.selected.year" /></td>
                    <td class="description-modif"><input type="text" style="width: 90%" ng-model="model.selected.description" /></td>

                    <td colspan="2" style="display:flex;">
                        <button class="btn btn-info latime" ng-click="saveMovie(model.selected)">Save</button>
                            <button class="btn btn-danger latime" ng-click="reset()">Cancel</button>
                    </td>
                    
                </script>


                <div id="addmovie" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    Add New Movie
                                </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="exampleInputName">Title</label>
                                            <input type="text" class="form-control" id="exampleInputName" ng-model="title" placeholder="Title">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="exampleInputDate">Date</label>
                                            <input type="text" class="form-control" id="exampleInputDate" ng-model="date" placeholder="Date" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="exampleInputActors">Actors</label>
                                            <input type="text" class="form-control" id="exampleInputActors" ng-model="actors" placeholder="Actors">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="exampleInputRoom">Room</label>
                                            <input type="text" class="form-control" id="exampleInputRoom" ng-model="room" placeholder="Room">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="exampleInputDesc">Description</label>
                                            <input type="text" class="form-control" id="exampleInputDesc" style="word-wrap: break-word" ng-model="description" placeholder="Description">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="exampleInputYear">Year</label>
                                            <input type="text" class="form-control" id="exampleInputYear" ng-model="year" placeholder="Year">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                       
                                        <div class="col-md-12">
                                            <input type="file" fileread="uploadme.src" />

                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-warning" ng-click="addMovie()" data-dismiss="modal">Add movie</button>
                                </form>
                            </div>
                            <div class="modal-footer">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
    */
    
    
    .movie-image {
        width: 60px;
        height: 50px;
        float: left;
        margin-right: 20px;
    }
    
    .background {
        background-image: url("../../images/1.jpg");
        width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    th {
        color: black;
    }
    
    .details {
        color: black;
        font-size: 17px;
        font-family: 'Patrick Hand';
        text-align: center;
    }
    .title-display{
        width:250px;
    }
    
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 990px) {
        
        td input[type="text"] {
            margin-top: 0px;
        }
        /* .paragraph {
            margin-top: 25px;}
 */
 .latime{
     margin-bottom:15px;
 }
    .paragraph{
        margin-left: 10px !important;
    }
    .desc{
            margin-left:auto !important;
            margin-right:20px;
            width:60%;

        }

        .details {
            margin-left: 20px;
        }
        .movie-image {
            float: none;
            margin-right: 7px;
            margin-top: 7px;
        }
        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;

        }
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        .table td {
            padding-left: 100px;
            padding-top: 1px;
            padding-right: 1px;
            padding-bottom: 1px;
        }
        tr {
            margin: 0 0 1rem 0;
            border-bottom: 2px dashed black !important;
        }
        td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }
        td:before {
            position: absolute;
            top: 0;
            left: 6px;
        
            padding-right: 10px;
            white-space: nowrap;
        }
        /*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
       td.title-display:before {
            content: "Title";
            font-weight:bold;
            color: black;
            margin-top: 25px;
        }
        .title-display{
            width:auto;
        }
        td.title-resp:before {
            content: "Title";
            color: black;
            margin-top: 0px;
            font-weight:bold;
        }
        td:nth-of-type(2):before {
            content: "Room";
            color: black;
            font-weight:bold;
        }
        td:nth-of-type(3):before {
            content: "Actors";
            color: black;
            font-weight:bold;
        }
        td:nth-of-type(4):before {
            content: "Year";
            color: black;
            font-weight:bold;
        }
       td:nth-of-type(5):before {
            content: "Description";
            color: black;
            margin-left: -10px;
      
            font-weight:bold;
        } 
       
    
    
    td:nth-of-type(6):before {
        content: "";
    }
    
    td:nth-of-type(7):before {
        content: "";
    }
}
</style>