


<div class="continut bg-gray">
        <div class="wrapper-movies flex-column mx-auto" style="width:70%">
        <div class="row flex-column justify-content-center">
                <div class="form-group col-6 text-center">
                        <label for="example-date-input"  class="date-select">Select a date</label>
                      

                          <input class="form-control text-input" type="date" value="2011-08-19" id="example-date-input">
                     
                      </div>
              </div>
              
              <div class="row" ng-controller="movieUser">
              <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Movie</th>
                          <th>Start hour</th>
                          <th>Room</th>
                          <th>Details</th>
                          <th>Book</th>
                        </tr>
                      </thead>
                      <tbody role="rowgroup">
                        <tr  role="row" ng-repeat="movie in model.usermovies" ng-include="getTemplate(movie)"
                        >
                      </tr>
                      </tbody>
              </table>
              <script type="text/ng-template" id="display">
                <td style="width:auto;"><p class="movie-title"><img src="../images/john-wick-chapter-2-poster.jpg" style="float:left,width:60px;height:60px;margin-right:20px;">  {{movie.title}}</p></td>
                <td style="width:auto;"><p class="movie-title">{{movie.time}}</p></td>
                
                <td style="width:auto;"><p class="movie-title">{{movie.room}}</p></td>
                <td><button class="btn btn-warning" data-toggle="modal" data-target="#detailModal">About</button></td>
                <td><button class="btn btn-danger">Book</button></td>
              </script>
                          <!-- <td><p class="movie-title"><img src="../images/john-wick-chapter-2-poster.jpg" style="float:left; width:60px;height:60px; margin-right:20px;">  John Wick Chapter 3</p></td>
                          <td>12:00-13:00</td>
                          <td>Room 1 </td>
                          <td><button class="btn btn-warning">About</button></td>
                          <td><button class="btn btn-danger">Book</button></td>
                        </tr>
                        <tr>
                          <td><p class="movie-title"><img src="../images/star-is-born-web.jpg" style="width:60px;height:60px;margin-right:20px;">A star is born</p></td>
                          <td>14:00-16:00</td>
                          <td>Room 4</td>
                          <td><button class="btn btn-warning">About</button></td>
                        </tr>
                        <tr>
                          <td><p class="movie-title"><img src="../images/1f759f3c0869ef9f52beb75ee5f41db7.jpg" style="height:60px;width:60px;margin-right:20px">Beauty and the beast</p></td>
                          <td>10:00-12:25</td>
                          <td>
                            Room 3
                          </td>
                          <td><button class="btn btn-warning" data-toggle="modal" data-target="#detailModal">About</button></td>
                     
                
                      </tr>
                        <tr>
                          <td><p class="movie-title"><img src="../images/1f759f3c0869ef9f52beb75ee5f41db7.jpg" style="height:60px;width:60px;margin-right:20px">Beauty and the beast</p></td>
                          <td>10:00-12:25</td>
                          <td>
                            Room 3
                          </td>
                          <td> <button type="button" id="details" class="btn btn-warning" data-toggle="modal" data-target="#detailModal">About</button></td>
                        </tr>
                      </tbody>
                    </table> -->
                    </div>
                    </div>
    </div>

