<div class="continut bg-gray mt-5">
    <div class="wrapper-movies flex-column mx-auto col-md-9">
        <div class="row flex-column justify-content-center">
            
                <div class="form-group col-md-12 text-center mb-5" >
                    <div class="row">
                <div  class="date-select col-md-3">Select a date</div>
              

                        <div class="control col-md-5">
                            <input id="date-birth" class="form-control " type="date" ng-model="dateBirth"></div>
                           <div class="col-md-4">
                            <button type="submit" class="btn btn-danger float-left " ng-click="search()">Search</button>
                        </div>
                    </div>
                        <div class="row" ng-if="clicked">
                       <p class="date-select" >
                      
                            Date : {{ dateBirth | date: 'fullDate' }}</p>
                            </div>

            </div>
        </div>

        <div class="row" >
                 
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Movie</th>
                        <th>Start hour</th>
                        <th>Room</th>
                        <th>Details</th>
                        <th>Book</th>
                    </tr>
                </thead>
                <tbody role="rowgroup">
                    <tr role="row" ng-repeat="movie in movies">
                        <td style="width:auto;">
                            <p class="movie-title"><img ng-src="../images/{{movie.src}}" style="width:60px;height:50px;float:left;margin-right:20px;">{{movie.title}}</p>
                        </td>
                        </td>
                        <td style="width:auto;">
                            <p class="movie-title">{{movie.time}}</p>
                        </td>

                        <td style="width:auto;">
                            <p class="movie-title">{{movie.room}}</p>
                        </td>
                        <td><button class="btn btn-about" ng-click="openMovieDetails(movie.id)">About</button></td>
                        <td><button class="btn btn-book">Book</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  
    <style>
    .movie-modal{
    font-size: 23px;
    font-family: 'Archivo Narrow',cursive;
    color: white;

}
    </style>
</div>
<style>
    /*
        Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
        */
    
    .img-movie {
        height: auto;
        width: 60px;
        margin-right: 20px;
    }
    .table td{
        text-align:center;
    }
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        .table td {
            padding-left: 165px;
            padding-top: 1px;
            padding-right: 1px;
            padding-bottom: 1px;
        
        }
        tr {
            margin: 0 0 1rem 0;
        }
        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }
        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
        /*
          Label the data
          You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
          */
        td:nth-of-type(1):before {
            content: "Title";
        }
        td:nth-of-type(2):before {
            content: "Time";
        }
        td:nth-of-type(3):before {
            content: "Room";
        }
        td:nth-of-type(4):before {
            content: "";
        }
        td:nth-of-type(5):before {
            content: "";
        }
        .img-movie {
            width: 50px;
            height: auto;
            margin-right: 20px;
        }
    }
        </style>
        
