<div class="continut" ng-controller="homeCtrl">

    <nav class="navbar navbar-expand-md" id="navigare" ng-class="{'navbar-dark' : !isUserAdmin(), 'bg-dark': !isUserAdmin(), 'navbar-light' : isUserAdmin(), 'bg-light': isUserAdmin() }">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../../../images/logos/logo_transparent-small.png" style="height:90px; width:150px" alt="">
            </a>
            <div class="center">
                Welcome to Cinemagic !
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active mystyle">
                        <a class="nav-link" href="#">Home
                      <span class="sr-only">(current)</span>
                    </a>
                    </li>
                    <li class="nav-item mystyle">
                        <a class="nav-link" href="/index.html#!/movies">Movies</a>
                    </li>
                    <li class="nav-item mystyle">
                        <a class="nav-link" href="#myModal" class="trigger-btn" data-toggle="modal">{{ loginButtonText() }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>